

 .example-sidenav
 {
   width: 25%;
   background-color: #545A6E;   
 }
 
 .homePageContainer
 {
     height: 100%;
 }

  .backgroundSource
  {
    background-color: #D80D66;;
  }
 .sourceTitle
 {
  color: white;
  font-weight: 500;
  font-size: medium;
 }

 .sourceList
 {
  color: white;
  font-weight: 200;
 }

 .active{
  font-weight: bolder;
  font-size: 1.5em;  
  font-style: italic;  
}

 .linkNavigation
 {
  text-decoration: none;
  color: white;  
 }

 .divTitle
{
    width: 100%;    
}
 .title-card {
    width: 90.5%;
    padding-bottom: 0;
    background-color: #545A6E;
    border-radius: 0;
  }

  .tileTable
  {
      background-color: #545A6E;
  }

  ::ng-deep .mat-sidenav-content
  {
    height: 100%;
  }

  ::ng-deep .mat-sidenav-container
  {
    height: 100%;
  }

